/* 

font-family: 'Playfair Display',
serif;
 */
/* resets */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 32px 12px;
}

/* header */
.header__title {
    text-transform: capitalize;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
}

.header__text {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header__text>* {
    align-self: flex-start;
}

.dots {
    margin-top: -4px;
    width: 50px;
}

.description {
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.hero__img {
    border-radius: 10px;
    max-width: 1000px;
    width:100%;
    height:100%;
}

/* ingredients section */
.ingredients {
    margin: 24px 0;
}

/* 1 */
.box__first {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 10px;
    margin-bottom: 30px;
    padding: 0 20px;
}

.box__one,
.box__rest {
    display: flex;
    gap: 5px;
}

.box__one {
    width: 100%;
}

.box__img {
    width: 15px;
    height: 15px;
    align-self: center;

}

.box__title {
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    color: #BDBDBD;
    text-transform: uppercase;

}

.box__one .box__description:nth-child(2) {
    color: #F2994A;

}

.box__description {

    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #333333;
}

/* 2 */
.box__second {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.ingredient__heading {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.ingredient__info {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.ingredient__title {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-transform: capitalize;
}

.ingredient__description {
    display: flex;
    gap: 8px;
}

.rectangle {
    height: 21px;
    width: 21px;
    border: 1px solid #828282;
    border-radius: 4px;
}

.steps {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
    width: 90%;
}

.important {
    font-weight: bold;
}

.box__second>:nth-child(2) {
    margin-bottom: 30px;
}

/* instruction */
.instruction__heading {
    font-size: 24px;
    line-height: 32px;
}
.instruction__description{
    gap:15px;
}
.instruction__step {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    width: 80%;
}
.instruction__rectangle{
    width: 36px;
    height: 36px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    background: #F2994A;
    border-radius: 6px;
    color:#fff;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}



@media only screen and (min-width:900px){
    body{
        padding: 52px 234px;
        display: flex;
        flex-direction: column;
    }
    .dots{
        margin-top: 0;
        width:50px;
    }
    .header__title{
        font-size: 48px;
        line-height: 64px;
    }
    .header__text{
    margin-bottom: 30px;
    gap:0;
    justify-content: flex-start;
    }
    .description{
        max-width: 592px;
        font-size: 14px;
        line-height: 17px;
    }
    .ingredients {
        margin: 48px 0;
        display: flex;
        flex-direction: row-reverse;
        max-width: 1000px;
    }
   
   
    .box__first{
        
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 50px;
        align-self: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .box__one{
        width: auto;
    }
}